html, body, #root {
  height: 100%;
  margin: 0;
}

.title {
  margin-left: 100px;
}

.list {
  margin-left: 100px;
  margin-top: 20px;
  margin-right: 100px;
}

.form_btn_group {
  display: flex;
  justify-content: flex-end;
  gap: 8px; /* 버튼 사이 간격 */
  margin-top: 16px; /* 필요시 위 여백 */
}

.detail {
  min-height: 100vh; /* 화면 높이만큼 최소 확보 */
  padding-bottom: 100px; /* 하단 여백 */
  margin-top: 50px;
  margin-left: 120px;
  margin-right: 400px;
}

.detailTitle {
  height: 30px;
}

.detailText {
  height: 500px;
  border: 1px solid #ccc;
}

.main {
  position: relative;
}

.main div {
  position: absolute;
  display: flex;
  bottom: 0;
  right: 0;
  gap: 10px;
}

.signup {
  text-align: center;
  align-items: center;
}

.comment {
  margin-top: 50px;
}